@import "tailwindcss";

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova"), local("ProximaNova-Regular");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Condensed";
  src: local("Proxima Nova Condensed"), local("ProximaNovaCond-Regular");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #F9FAFB;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9FAFB;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
